<h1 class="font-bold mb-2 text-center text-lg ">{{title | titlecase}}</h1>
<div class="flex gap-4 items-center ">
    <input type="text"
        class="mb-2 border-2 py-2 px-4 w-full rounded-lg border-green-300 focus:outline-none focus:border-blue-500"
        placeholder="Filter product..." [(ngModel)]="filtered" (ngModelChange)="onFilteredChange($event)">
    <button class="rounded-full bg-red-900 text-white px-4 py-2" type="button" (click)="modalService.open()">+</button>
</div>


<p class="text-center text-lg" *ngIf="loading">Loading...</p>

<div *ngIf="productService.products">
    <app-product *ngFor="let product of productService.products | filteredProduct:filtered; let i = index"
        [product]="product">

    </app-product>
</div>

<app-modal *ngIf="modalService.isVisible$ | async" title="Create Product">
    <app-create-product></app-create-product>
</app-modal>



<!-- <app-product 
  *ngFor="let product of products$ | async; let i = index"
   [product]="product">

  </app-product> -->

<!--  <app-product [product]="products[0]"></app-product>-->
<!--  <app-product [product]="products[1]"></app-product>-->

<!-- <app-product
          *ngFor="let product of products; let i = index"
          [product]="product"
  ></app-product> -->
